node_modules
dist
.turbo
.env
.env.local
*.log
uploads
coverage
.prisma
apps/web/dist
apps/api/dist
packages/shared/dist
packages/db/dist
.DS_Store
playwright-report
test-results
/tmp
*.png
!apps/web/public/**
!apps/promo/public/**
